<h1>Sorry, something went wrong</h1>
<div id="top" style="padding: 20px">
If you are a guest, please email 
<a href="mailto:<%= SITE_CONFIG['admin_email'] %>">
<%= SITE_CONFIG['admin_name'] %></a>.  
If it is nearing the event, feel free to call  
<%= SITE_CONFIG['admin_name'] %> at <%= SITE_CONFIG['admin_phone'] %>

<p>
This is one of the risks you take with beta
  software that one slacker slammed out as a weekend research
  project and another slacker found on github and adapted to use here.

</div>

