# This is the 'salt' to add to the password before it is encrypted
# You need to change this to something unique for yourself
salt: "yourSaltHere@%()*&492@)*#&%s0132ibasntid136130"


# The following are the details to display on pages
# TODO: figure out if this is an accepted place to show these
server: "http://your_server_name"
github_loc: "https://github.com/your_github_id/inviter"
admin_name: "Admin"
admin_login: "admin" # You can change this to your login
admin_email: "admin@your_server_name"
admin_phone: "admin_phone"
host_name: "Host Name(s)"


# You''ll probably want to change this to the time zone of the computer where Tracks is running
# run rake time:zones:local have Rails suggest time zone names on your system
time_zone: "UTC"

